<%= simple_form_for(@answer) do |f| %>
  <%= f.error_notification %>
  
  <div class="form-inputs">
    <%= f.input :content, label: "Leave a reply..." %>
    <%= f.input :question_id, as: :hidden, input_html: { value: @question.id} %>
  </div>

  <div class="form-actions">
    <%= f.submit "Submit answer", class: 'btn btn-success' %>
  </div>
<% end %>
